@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap");

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em ;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 45%;
 }

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.custom-font-family{
    font-family: Inter;
}

.text1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #969696;
}

.h1-custom {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #091a7a;
}

.navbar {
    background-color: white;
    padding: 7px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(126, 126, 126, 0.418);
}

.navbar img{
    width: 100%;
    height: 40px;
}

.navbar ul {
    list-style-type:none;
}

.navbar li {
    display: inline;
    margin: 0px 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
}

.row{
    width: 100%;
    display: flex;
}

.col{
    width: 100%;
}

#pricing-desc{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* #pricing-card{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
} */

.card{
    width: 300px;
    height: 100%;
    /* border: 1px solid #091a7a; */
    border-radius: 35px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card .content{
    padding: 0px 25px;
    margin-bottom: 45px;
    margin-top: 30px;
}

.head-text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 60px;
    /* color: #091a7a; */
    color: black;
}

.text-card {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: black;
}

.text-card2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #091a7a;
}

.content a{
    text-decoration: none;
}

.custom-button-card{
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.045em;
    /* width: 100%; */
    /* height: 50px; */
    padding: 13px 85px;
    color: #091a7a;
    border-radius: 50px;
    border: 1px solid #091a7a;
    background: white;
}

.custom-button-card:hover{
    color: white;
    border: 1px solid #091a7a;
    background: #091a7a;
}

.sorot{
    background: #091a7a;
    border-radius: 35px 35px 0px 0px;
}

.head-text2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.045em;
    font-size: 22px;
    line-height: 60px;
    /* color: #091a7a; */
    color: white;
}

.custom-button-card2{
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.085em;
    /* width: 100%;
    height: 50px; */
    padding: 13px 85px;
    color: white;
    border-radius: 50px;
    border: 1px solid #091a7a;
    background: #091a7a;
}

.custom-hover:hover{
    scale: 1.04;
}

.card-custom-margin{
    margin-left: 110px;
    margin-right: 40px;
}

.hero-bg{
    z-index: -1;
    position: absolute;
    left: 33%;
    top: 48%;
    opacity: 0.05;
}

#tentang-kami{
    background-color: ghostwhite;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    margin-top: 150px;
}

#tentang-kami img{
    float: left; 
    width: 350px; 
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 25px;
}

#form-register{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px 50px;
    max-width: fit-content;
    font-family: Poppins;
}

#form-register input{
    padding: 10px;
    font-family: Poppins;
    width: 350px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-bottom: 15px;
}
#form-register input[type=radio]{
    padding: 10px;
    font-family: Poppins;
    margin-left: 15px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid grey;
}

#form-register a{
    text-decoration: none;
}

#form-register .register-button{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.register-pos{
    position: absolute;
    left: 32%;
    top: 13%;
}

#profile img{
    width: 250px;
    border-radius: 15px;
    border: 2px solid white;
    margin-right: 15px;
}

.collapse {
    border-collapse: collapse;
    /* border: 1px solid rgba(61, 61, 61, 0.534); */
}

#table-song tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#table-song .custom-tr-color{
    background-color: rgba(0, 0, 0, 0.05);
}

#table-song{
    margin-top: 50px;
}

#table-song th, #table-song td{
    padding: 15px 25px;
}

#table-song td{
    text-align: center;
}

#song-listing img{
    width: 150px;
}

#album-preview img{
    width: 230px;
    height: 100%;
    float: left;
    margin-right: 25px;
}

.h1-custom2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    color: #091a7a;
}

